.top_section {
  padding-top: rem(75px);
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  height: rem(512px);
  box-shadow: inset -1px -2px 5px rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(circle rem(500px), #b1eb76 0%, #4b791f 100%);
  .section {
    .container {
      display: flex;
      justify-content: space-between;
      .left_elem {
        max-width: rem(200px);
        width: 100%;
        display: flex;
        flex-direction: column;
        .entrance {
          display: flex;
          flex-direction: column;
          margin-bottom: rem(10px);
          .entrance_elem1, .entrance_elem2 {
            color: #ffffff;
            font-weight: 400;
            line-height: 14px;
            text-shadow: 0 1px 1px rgba(1, 1, 1, 0.5);
            &:hover {
              text-decoration: underline;
            }
          }
          .entrance_elem1 {
            font-size: rem(15px);
            margin-bottom: rem(10px);
          }
          .entrance_elem2 {
            font-size: rem(11px);
          }
        }
        .social {
          max-width: rem(200px);
          width: 100%;
          margin-bottom: rem(10px);
          display: flex;
          justify-content: space-between;
          .social_item {
            position: relative;
            width: rem(32px);
            height: rem(32px);
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: cover;
              &:hover {
                transition: .3s;
                transform: scale(1.5);
              }
            }
          }
        }
        .left_basket {
          display: flex;
          align-items: center;
          box-shadow: 0 2px 5px rgba(1, 1, 1, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.29);
          background-color: #de3635;
          background-image: linear-gradient(to top, rgba(176, 39, 39, 0.54) 0%, rgba(222, 54, 53, 0.54) 100%);
          padding: rem(7px) rem(17px);
          .basket_elem {
            margin-left: rem(25px);

            h2 {
              color: #ffffff;
              font-size: rem(20px);
              font-weight: 700;
              line-height: 1.20;
              margin-bottom: rem(8px);
            }
            p {
              font-size: rem(12px);
              font-weight: 300;
              line-height: 1.14;
              color: #ffffff;
            }

          }
        }
      }
      .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          max-width: rem(95px);
          width: 100%;
          height: rem(95px);
        }
        h1 {
          text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
          color: #608b30;
          font-family: "Helvetica Neue";
          font-size: 48px;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
      .right_elem {
        position: relative;
        width: 100%;
        max-width: rem(200px);
        color: #ffffff;
        .hot_line {
          text-shadow: 0 1px 1px rgba(1, 1, 1, 0.5);
          font-size: rem(18px);
          font-weight: 300;
          line-height: 1.53;
        }
        .telephone {
          font-size: rem(23px);
          font-weight: 500;
          line-height: 1.13;
        }
        .call {
          max-width: rem(200px);
          width: 100%;
          box-shadow: 0 2px 5px rgba(1, 1, 1, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.29);
          background-color: #de3635;
          background-image: linear-gradient(to top, rgba(176, 39, 39, 0.54) 0%, rgba(222, 54, 53, 0.54) 100%);
          text-align: center;
          padding: rem(5px) 0;
          a {
            width: 100%;
            max-width: rem(170px);
            font-size: rem(37px);
            font-weight: 700;
            line-height: 0.64;
            text-transform: uppercase;
            text-align: center;
            span {
              font-size: rem(26px);
            }
          }
        }

      }
    }
  }
}